.center {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.input {
  display: block;
  width: auto;
  min-width: 540px;
  height: 44px;
  padding: 0 10px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
}

.list {
  position: absolute;
  margin-top: 100px;
}